@page
@model WebApp1.Pages.Davalar.DetayModel
@using WebApp1.Models
@{
}


<div class="dava-table" style="padding:0px;">
    <div class="dava-scroll">
        <div class="panel panel-default">
            <div class="panel-heading">
                <table style="width:100%">
                    <tbody>
                        <tr>
                            <td style="width:80%">
                                <span>Dava Detayı</span>
                            </td>
                            <td style="text-align:right;">
                                <span>

                                    <a asp-page="DavaGuncelle" asp-route-id="@Model.Dava.DavaKayitNo" type="button" class="btn btn-default btn-xs"
                                       style="color:#5B636A;font-family:Open Sans;font-size:9pt;width:157px">
                                        <span class="fal fa-user-cog text-danger"></span> Güncelle
                                    </a>

                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            @{
                var id = Request.QueryString.ToString();
                string[] tokens = id.Split("=");
                string davaID = tokens[1].ToString();
            }
            <table id="davaBilgi" class="table table-hover" style="width:100%;font-size:11px;">
                <tbody>
                    <tr>
                        <td><b>Dava Kayıt No / Esas No</b></td>
                        <td>@Model.Dava.DavaKayitNo / @Model.Dava.EsasNo</td>
                        <td><b>Defter Sıra No / Yargıtay Dosya No</b></td>
                        <td>@Model.Dava.DefterSiraNo / @Model.Dava.YargitayDosyaNo</td>

                    </tr>
                    <tr>
                        <td><b>Dava Tarihi</b></td>
                        <td>@Model.Dava.DavaTarihi</td>
                        <td><b>Dava Türü</b></td>
                        <td>@Model.Dava.DavaTuruKayitNo</td>
                    </tr>
                    <tr>
                        <td><b>Dava Konusu</b></td>
                        <td> <p style="word-wrap: break-word;">@Model.Dava.DavaKonusu</p></td>
                        <td><b>Lehte</b></td>
                        <td>
                            @{
                                var lehte = Model.Dava.Lehte == true ? "Lehte" :
                                   Model.Dava.Lehte == false ? "Aleyhte" : "Belirsiz";

                            }
                            @lehte
                        </td>
                    </tr>
                    <tr>
                        <td><b>Tahmini Sonuç</b></td>
                        <td>
                            @{
                                var sonucTahmini = Model.Dava.SonucTahmini == true ? "Lehte" :
                                   Model.Dava.Lehte == false ? "Aleyhte" : "Yorumsuz";
                            }
                            @sonucTahmini
                        </td>
                        <td><b>Mahkemesi</b></td>
                        <td>
                            <p style="word-wrap: break-word;">@Model.Dava.Mahkemesi</p>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Dava Tutarı</b></td>
                        <td>@Model.Dava.DavaTutari @Model.Dava.ParaBirimiKayitNo </td>
                        <td><b>Islah Değeri</b></td>
                        <td>@Model.Dava.IslahDegeri @Model.Dava.ParaBirimiKayitNo</td>
                    </tr>
                    <tr>
                        <td><b>Dava Tarihi</b></td>
                        <td>@Model.Dava.DavaTarihi</td>
                        <td><b>Dava Türü</b></td>
                        <td>@Model.Dava.DavaTuruKayitNo</td>
                    </tr>
                    <tr>
                        <td><b>Davacı / Davalı</b></td>
                        <td>@Model.Dava.Davaci / @Model.Dava.Davali</td>
                        <td><b>Diğer Davacılar / Diğer Davalılar</b></td>
                        <td>@Model.Dava.DigerDavacilar / @Model.Dava.DigerDavalilar</td>
                    </tr>
                    <tr>
                        <td><b>Açıklama</b></td>
                        <td>
                            <p style="word-wrap: break-word;">@Model.Dava.Mahkemesi</p>
                        </td>

                        <td><b>Oluşturma Tarihi / Değiştirme Tarihi</b></td>
                        <td>@Model.Dava.OlusturulmaTarihi / @Model.Dava.DegistirilmeTarihi</td>
                    </tr>
                    <tr>
                        <td><b>Oluşturan Kişi / Değiştiren Kişi</b></td>
                        <td>@Model.Dava.OlusturanKisi / @Model.Dava.DegistirenKisi</td>
                        <td><b>Temyiz</b></td>
                        <td>
                            @{
                                var temyiz = Model.Dava.TemyizEdildi == true ? "Temyiz Edildi" :
                                   Model.Dava.Lehte == false ? "Temyiz Edilmedi" : "Belirsiz";
                            }
                            @temyiz
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <table style="width:100%">
                    <tbody>
                        <tr>
                            <td style="width:80%">
                                <span>Yerel Mahkeme Kararı</span>
                            </td>
                            <td style="text-align:right;">
                                <span>
                                    @*<a asp-page="GuncelleYerelMahkemeKarari" asp-route-id="@Model.Dava.DavaKayitNo" type="button" class="btn btn-default btn-xs"
                                           style="color:#5B636A;font-family:Open Sans;font-size:9pt;width:157px">
                                            <span class="fal fa-user-cog text-danger"></span> Güncelle
                                        </a>*@
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table id="davaBilgi" class="table table-hover" style="width:100%;font-size:11px;">
                <tbody>
                    @{
                        if (@Model.YerelMahkemeKarari != null)
                        {

                            <tr>
                                <td><b>Karar No / Karar Tarihi</b></td>
                                <td>@Model.YerelMahkemeKarari.KararNo / @Model.YerelMahkemeKarari.KararTarihi</td>
                                <td><b>Karar Sonucu / Karar Özeti </b></td>
                                <td>
                                    @{
                                        var kararSonucu =
                                            Model.YerelMahkemeKarari.KararSonucu == true ? "Lehte" :
                                           Model.YerelMahkemeKarari.KararSonucu == false ? "Aleyhte" : "Belirsiz";
                                    }
                                    @kararSonucu / @Model.YerelMahkemeKarari.KararOzeti
                                </td>
                            </tr>
                        }
                        else
                        {
                            <center>Mahkeme kararı sonuçlandırılmadı</center>
                        }

                    }
                </tbody>
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <table style="width:100%">
                    <tbody>
                        <tr>
                            <td style="width:80%">
                                <span>Dava Sonucu</span>
                            </td>
                            <td style="text-align:right;">
                                <span>
                                    @*<a asp-page="DavaSonucu" asp-route-id="@Model.Dava.DavaKayitNo" type="button" class="btn btn-default btn-xs"
                                           style="color:#5B636A;font-family:Open Sans;font-size:9pt;width:157px">
                                            <span class="fal fa-user-cog text-danger"></span> Güncelle
                                        </a>*@
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table id="davaBilgi" class="table table-hover" style="width:100%; font-size:11px;">
                <tbody>
                    @{
                        if (@Model.DavaSonucu != null)
                        {

                            <tr>
                                <td><b>Kaldırma No / Sonuç Tarihi</b></td>
                                <td>@Model.DavaSonucu.KaldirmaNo / @Model.DavaSonucu.SonucTarihi</td>
                                <td><b>Karar Sonucu / Karar Özeti </b></td>
                                <td>
                                    @{
                                        var davaSonucu =
                                            Model.DavaSonucu.DavaSonucu1 == true ? "Lehte" :
                                           Model.DavaSonucu.DavaSonucu1 == false ? "Aleyhte" : "Belirsiz";
                                    }


                                    @davaSonucu
                                </td>
                            </tr>
                            <tr>
                                <td><b>İcra Safhası</b></td>
                                <td>@Model.DavaSonucu.IcraSafhasi</td>
                                <td><b>Asıl Alacak / İşlenmiş Faiz </b></td>
                                <td>
                                    @Model.DavaSonucu.AsilAlacak / @Model.DavaSonucu.IslenmisFaiz
                                </td>
                            </tr>
                            <tr>
                                <td><b>Mahkeme ve Harç Masrafı / İcra Masrafları</b></td>
                                <td>@Model.DavaSonucu.MahkemeHarcveMasrafi / @Model.DavaSonucu.IcraMasraflari</td>
                                <td><b>Vekalet Ücretleri / İcra vekalet Ücreti </b></td>
                                <td>
                                    @Model.DavaSonucu.VekaletUcretleri / @Model.DavaSonucu.IcraMasraflari
                                </td>
                                <td><b>Ödeme Tarihi</b></td>
                                <td>
                                    @Model.DavaSonucu.OdemeTarihi
                                </td>
                            </tr>
                        }
                        else
                        {
                            <center>Dava sonuçlandırılmadı</center>
                        }
                    }
                </tbody>
            </table>
        </div>



        <div class="panel panel-default">
            <div class="panel-heading">
                <table style="width:100%">
                    <tbody>
                        <tr>
                            <td style="width:80%">
                                <span>Temyiz</span>
                            </td>
                            <td style="text-align:right;">
                                <span>
                                    @*<a asp-page="Temyiz" asp-route-id="@Model.Dava.DavaKayitNo" type="button" class="btn btn-default btn-xs"
                                           style="color:#5B636A;font-family:Open Sans;font-size:9pt;width:157px">
                                            <span class="fal fa-user-cog text-danger"></span> Güncelle
                                        </a>*@
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table id="davaBilgi" class="table table-hover" style="width:100%; font-size:11px;">
                <tbody>
                    @{
                        if (@Model.Temyiz != null)
                        {

                            <tr>
                                <td><b>Temyiz Eden / Temyiz Tarihi</b></td>
                                <td>
                                    @{
                                        var temyizEden =
                                            Model.Temyiz.TemyizEdenPetkim == true ? "Petkim" :
                                           Model.Temyiz.TemyizEdenPetkim == false ? "Karşı Taraf" : "Belirsiz";
                                    }
                                    @temyizEden / @Model.Temyiz.TemyizTarihi
                                </td>
                                <td><b>Temyiz Sonucu </b></td>
                                <td>
                                    @{
                                        var temyizSonucu =
                                            Model.Temyiz.TemyizSonucu == true ? "Lehte" :
                                           Model.Temyiz.TemyizSonucu == false ? "Aleyhte" : "Belirsiz";
                                    }
                                    @temyizSonucu
                                </td>
                            </tr>
                            <tr>
                                <td><b>Açıklama</b></td>
                                <td>
                                    @Model.Temyiz.Aciklama
                                </td>
                            </tr>
                        }
                        else
                        {
                            <center>Temyiz sonuçlandırılmadı</center>
                        }
                    }
                </tbody>
            </table>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <table style="width:100%">
                    <tbody>
                        <tr>
                            <td style="width:80%; font-size:11px;">
                                <span>DavaEki</span>
                            </td>
                            <td style="text-align:right;">
                                <form method="post" enctype="multipart/form-data">
                                    <div class="from-row">
                                        <div class="form-group col-md-6">
                                            <label class="btn btn-default btn-xs">
                                                Dosya Seç
                                                <input type="file" name="dosya" style="display:none;" class="btn btn-dark btn-search" />
                                            </label>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="submit" id="btnUpload" value="Yükle" asp-page-handler="UploadFile" class="btn btn-default btn-xs" />
                                            <input asp-for="davaKayitNo" name="davaKayitNo" value="@davaID.ToString()"
                                                   type="hidden" class="form-control" />
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table id="davaBilgi" class="table table-hover" style="width:100%; font-size:11px;">
                <tbody>
                    @if (Model.DavaEki != null)
                    {

                        @foreach (var file in Model.DavaEki)
                        {
                            <tr>
                                <td><b>Dosya İsmi / Dosya</b></td>
                                <td>
                                    Ek-@file.KayitNo /
                                    <button type="submit" class="btn btn-default btn-xs">
                                        <a href="@Url.Page("Detay", "DownloadFile", new { dosyaId = file.KayitNo })" style="text-decoration:none;">
                                            Yükle
                                        </a>
                                    </button>
                                    <form method="post" asp-page-handler="DeleteFile"
                                          onclick="return confirm('Are you sure you want to delete this?')">
                                        <input type="hidden" name="kayitNo" value="@file.KayitNo" />
                                        <input type="hidden" name="davaKayitNo" value="@file.DavaKayitNo" />
                                        @if (User.IsInRole(Roles.Role_Admin))
                                        {
                                            <button type="submit" class="btn btn-default btn-xs">Sil</button>
                                        }
                                    </form>
                                </td>

                            </tr>
                        }
                    }
                    else
                    {
                        <p>Dava Eki bulunamadı</p>


                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
