@page
@model WebApp1.Pages.Davalar.IndexModel
@{
}

<div class="row">
    <div class="col-6">
        <h4>Davalar</h4>
    </div>
    <div class="col-2">
        <a class="btn btn-info form-control text-white" asp-page="YeniDava">
            Dava Ekle
        </a>
    </div>
    <div class="col-2">
        <form asp-page="/Davalar" method="get">
                <input type="text" name="SearchString" value="@Model.CurrentFilter"
                       placeholder="Ara.."/>
        </form>
    </div>
    <div class="col-2">
        <a class="btn btn-info form-control text-white" asp-page="YeniDava">
            Arşivle
        </a>
    </div>
</div>

<br />

@if (Model.Dava.Count() > 0)
{
    <div class="overflow-auto">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" name="todo" />&nbsp;
                    </th>
                    <th>
                        Detaylı Görünüm
                    </th>
                    <th>
                        <a asp-page="/Davalar/Index" asp-route-sortOrder="@Model.DavaKayitNoSort"
                           asp-route-currentFilter="@Model.CurrentFilter">
                            @Html.DisplayNameFor(model => model.Dava[0].DavaKayitNo)
                        </a>
                    </th>
                    <th>
                        <a asp-page="/Davalar/Index" asp-route-sortOrder="@Model.EsasNoSort"
                           asp-route-currentFilter="@Model.CurrentFilter">
                            @Html.DisplayNameFor(model => model.Dava[0].EsasNo)
                        </a>
                    </th>
                    <th>
                        <a asp-page="/Davalar/Index" asp-route-sortOrder="@Model.DefterSiraNoSort"
                           asp-route-currentFilter="@Model.CurrentFilter">
                            @Html.DisplayNameFor(model => model.Dava[0].DefterSiraNo)
                        </a>
                    </th>
                    <th>
                        <a asp-page="/Davalar/Index" asp-route-sortOrder="@Model.DavaKayitNoSort"
                           asp-route-currentFilter="@Model.CurrentFilter">
                            @Html.DisplayNameFor(model => model.Dava[0].DavaKayitNo)
                        </a>
                    </th>
                    <th>
                        <a asp-page="/Davalar/Index" asp-route-sortOrder="@Model.YargitayDosyaNoSort"
                           asp-route-currentFilter="@Model.CurrentFilter">
                            @Html.DisplayNameFor(model => model.Dava[0].YargitayDosyaNo)
                        </a>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().DavaKonusu"></label>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().DavaAcilmaTuru"></label>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().SonucTahmini"></label>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().Mahkemesi"></label>
                    </th>
                    <th>
                        <a asp-page="/Davalar/Index" asp-route-sortOrder="@Model.DavaTutariSort"
                           asp-route-currentFilter="@Model.CurrentFilter">
                            @Html.DisplayNameFor(model => model.Dava[0].DavaTutari)
                        </a>
                    </th>
                    <th>
                        <a asp-page="/Davalar/Index" asp-route-sortOrder="@Model.IslahDegeriSort"
                           asp-route-currentFilter="@Model.CurrentFilter">
                            @Html.DisplayNameFor(model => model.Dava[0].IslahDegeri)
                        </a>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().Davaci"></label>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().Davali"></label>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().DigerDavacilar"></label>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().DigerDavalilar"></label>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().Aciklama"></label>
                    </th>
                    <th>
                        <a asp-page="/Davalar/Index" asp-route-sortOrder="@Model.OlusturulmaTarihiSort"
                           asp-route-currentFilter="@Model.CurrentFilter">
                            @Html.DisplayNameFor(model => model.Dava[0].OlusturulmaTarihi)
                        </a>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().DegistirilmeTarihi"></label>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().OlusturanKisi"></label>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().DegistirenKisi"></label>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().DavaFormTipi"></label>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().TemyizDurumu"></label>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().DavaTuruTanim"></label>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().ParaBirimiKodu"></label>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().KararNo"></label>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().KararTarihi"></label>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().KararSonucu"></label>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().KararOzeti"></label>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().TemyizEden"></label>
                    </th>
                    <th>
                        <a asp-page="/Davalar/Index" asp-route-sortOrder="@Model.TemyizTarihiSort"
                           asp-route-currentFilter="@Model.CurrentFilter">
                            @Html.DisplayNameFor(model => model.Dava[0].TemyizTarihi)
                        </a>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().TemyizSonucu"></label>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().TemyizAciklamasi"></label>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().SonucTarihi"></label>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().KaldirmaNo"></label>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().DavaSonucu"></label>
                    </th>
                    <th>
                        <label asp-for="Dava.FirstOrDefault().IcraSafhasi"></label>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Dava)
                {
                <tr>
                    <td>
                        <input type="checkbox" name="todo" />&nbsp;
                    </td>
                    <td>
                        <a asp-page="Detay" asp-route-davaKayitNo="@item.DavaKayitNo" class="btn btn-success btn-sm text-white">Detaylı Görünüm</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DavaKayitNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EsasNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DefterSiraNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YargitayDosyaNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DavaTarihi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DavaKonusu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DavaAcilmaTuru)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SonucTahmini)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mahkemesi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DavaTutari)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IslahDegeri)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Davaci)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Davali)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DigerDavacilar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DigerDavalilar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aciklama)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OlusturulmaTarihi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DegistirilmeTarihi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OlusturanKisi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DegistirenKisi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DavaFormTipi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TemyizDurumu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DavaTuruTanim)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParaBirimiKodu)
                    </td>
                    <td>
                        @{
                            if (item.KararNo == null)
                            {
                                <a asp-page="GuncelleYerelMahkemeKarari" asp-route-id="@item.DavaKayitNo" class="btn btn-success btn-sm text-white">Güncelle</a>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.KararNo)
                            }

                        }
                    </td>
                    <td>
                        @{
                            if (item.KararTarihi == null)
                            {
                                <a asp-page="GuncelleYerelMahkemeKarari" asp-route-id="@item.DavaKayitNo" class="btn btn-success btn-sm text-white">Güncelle</a>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.KararTarihi)
                            }

                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KararSonucu)
                    </td>
                    <td>
                        @{
                            if (item.KararOzeti == null)
                            {
                                <a asp-page="GuncelleYerelMahkemeKarari" asp-route-id="@item.DavaKayitNo" class="btn btn-success btn-sm text-white">Güncelle</a>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.KararOzeti)
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TemyizEden)
                    </td>
                    <td>
                        @{
                            if (item.TemyizTarihi == null)
                            {
                                <a asp-page="Temyiz" asp-route-id="@item.DavaKayitNo" class="btn btn-success btn-sm text-white">Güncelle</a>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.TemyizTarihi)
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TemyizSonucu)

                    </td>
                    <td>
                        @{
                            if (item.TemyizAciklamasi == null)
                            {
                                <a asp-page="Temyiz" asp-route-id="@item.DavaKayitNo" class="btn btn-success btn-sm text-white">Güncelle</a>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.TemyizAciklamasi)
                            }
                        }
                    </td>
                    <td>
                        @{
                            if (item.SonucTarihi == null)
                            {
                                <a asp-page="DavaSonucu" asp-route-id="@item.DavaKayitNo" class="btn btn-success btn-sm text-white">Güncelle</a>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.SonucTarihi)
                            }
                        }
                    </td>
                    <td>
                        @{
                            if (item.KaldirmaNo == null)
                            {
                                <a asp-page="DavaSonucu" asp-route-id="@item.DavaKayitNo" class="btn btn-success btn-sm text-white">Güncelle</a>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.KaldirmaNo)
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DavaSonucu)
                    </td>
                    <td>
                        @{
                            if (item.IcraSafhasi == null)
                            {
                                <a asp-page="DavaSonucu" asp-route-id="@item.DavaKayitNo" class="btn btn-success btn-sm text-white">Güncelle</a>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.IcraSafhasi)
                            }
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
        @{
            var prevDisabled = !Model.Dava.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.Dava.HasNextPage ? "disabled" : "";
        }

    </div>


    <a asp-page="/Davalar/Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Dava.PageIndex - 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-primary @prevDisabled">
        Geri
    </a>

    <a asp-page="/Davalar/Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Dava.PageIndex + 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-primary @nextDisabled">
        İleri
    </a>
}
else
{
    <h1>Dava Bulunamadi</h1>
}

    </>
    </>
