@page
@model WebApp1.Pages.Davalar.IndexModel
@{
}

<div class="form-row">
    <div class="form-group col-md-6">
        <h4>Davalar</h4>
    </div>
    <div class="form-group col-md-2">
        <form asp-page="/Davalar" method="get">
            <input type="text" name="SearchString" value="@Model.CurrentFilter"
                   placeholder="Ara.." class="form-control" />
        </form>
    </div>
    <div class="form-group col-md-2" style="margin-left:80px;">
        <a class="btn btn-dark" asp-page="YeniDava">
            Dava Ekle
        </a>
    </div>
    <div class="form-group col-md-1">
        <form method="post">
            <input class="btn btn-dark" type="submit" value="Dosya Oluştur" asp-page-handler="Export" />
        </form>
    </div>
</div>

<br />

@if (Model.Dava.Count() > 0)
{
    <div class="overflow-auto">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="h8">
                        Detay
                    </th>
                    <th class="h8">
                        <a asp-page="/Davalar/Index" asp-route-sortOrder="@Model.DavaKayitNoSort"
                           asp-route-currentFilter="@Model.CurrentFilter">
                            Dava Kayıt No
                        </a>
                    </th>
                    <th class="h8">
                        <a asp-page="/Davalar/Index" asp-route-sortOrder="@Model.EsasNoSort"
                           asp-route-currentFilter="@Model.CurrentFilter">
                            Esas No
                        </a>
                    </th>
                    <th class="h8">
                        <a asp-page="/Davalar/Index" asp-route-sortOrder="@Model.YargitayDosyaNoSort"
                           asp-route-currentFilter="@Model.CurrentFilter">
                            Yargıtay Dosya No
                        </a>
                    </th>
                    <th class="h8">
                        <a asp-page="/Davalar/Index" asp-route-sortOrder="@Model.DavaTarihiSort"
                           asp-route-currentFilter="@Model.CurrentFilter">
                            Dava Tarihi
                        </a>
                    </th>
                    <th class="h8">
                        <a asp-page="/Davalar/Index" asp-route-sortOrder="@Model.OlusturulmaTarihiSort"
                           asp-route-currentFilter="@Model.CurrentFilter">
                            Oluşturulma Tarihi
                        </a>
                    </th>

                    <th class="h8">
                        <a asp-for="Dava.FirstOrDefault().KararNo">Karar No</a>
                    </th>
                    <th class="h8">
                        <a asp-for="Dava.FirstOrDefault().TemyizDurumu"> Temyiz Durumu</a>
                    </th>
                    <th class="h8">
                        <a asp-for="Dava.FirstOrDefault().KaldirmaNo"> Kaldırma No</a>
                    </th>
                </tr>
            </thead>
            <tbody class="h10">
                @foreach (var item in Model.Dava)
                {
                <tr >
                    <td>
                        <a asp-page="Detay" asp-route-davaKayitNo="@item.DavaKayitNo"
                           class="btn btn-outline-info h8">Detay</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DavaKayitNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EsasNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YargitayDosyaNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DavaTarihi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OlusturulmaTarihi)

                    </td>
                    <td>
                        @{ 
                            var kararNo = "";
                            if (item.KararNo == null)
                            {
                                kararNo = "Henüz Sonuçlandırılmadı";
                            }
                            else
                            {
                                kararNo = item.KararNo;
                            }

                        }
                        @Html.DisplayFor(modelItem => kararNo)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TemyizDurumu)
                    </td>
                    <td>@{ 


                        var temyizDurumu = "";
                        if (item.KaldirmaNo == null)
                        {
                            temyizDurumu = "Henüz Sonuçlandırılmadı";
                        }
                        else
                        {
                            temyizDurumu = item.KaldirmaNo;
                        }
                        }
                        @Html.DisplayFor(modelItem => temyizDurumu)

                    </td>
                </tr>
                }
            </tbody>
        </table>
        @{
            var prevDisabled = !Model.Dava.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.Dava.HasNextPage ? "disabled" : "";
        }

    </div>


    <a asp-page="/Davalar/Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Dava.PageIndex - 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-dark @prevDisabled">
        Geri
    </a>    

    <a asp-page="/Davalar/Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Dava.PageIndex + 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-dark @nextDisabled">
        İleri
    </a>
}
else
{
    <h1>Dava Bulunamadi</h1>
}

    </>
    </>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
        function handleSortClick() {
            let downButton = document.getElementById("down-icon")
            let upButton = document.getElementById("up-icon")

            downButton.style.visibility == "visible" ? "hidden" : "visible"
            upButton.style.visibility = "hidden" ? "visible" : "hidden"
  

            if (downButton.style.visibility == "visible") {
                downButton.style.visibility = "hidden"
            } else {
                downButton.style.visibility = "visible"
            }

            if (upButton.style.visibility == "hidden") {
               upButton.style.visibility = "visible"
            } else {
                upButton.style.visibility = "hidden"
            }
        }
    </script>
}