@page
@model WebApp1.Pages.Arama.AramaModel
@using WebApp1.Models
@{
}

@if (User.IsInRole(Roles.Role_Admin))
{
    <div class="border container search-table" style="padding:30px;">
        <div class="search-scroll">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td style="width:80%">
                                    <span><b>Arama</b></span>
                                </td>
                                <td style="text-align:right;">
                                    <span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel-heading">
                    <table style="width:100%">
                        <tbody>


                            <form method="get">

                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label>İlk Tarih</label>
                                        <input type="date" value="@Model.ilkTarih" name="ilkTarih" class="form-control" required />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Son Tarih</label>
                                        <input type="date" value="@Model.sonTarih" name="sonTarih" class="form-control" required />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label asp-for="@Model.davaTurleri">Dava Sonuçları</label>
                                        <select asp-for="@Model.davaTurleri" class="form-control">
                                            <option value="arasinda_acilan_davalar">Arasında Açılan Davalar</option>
                                            <option value="arasinda_sonuclanan_davalar">Arasında Sonuçlanan Davalar</option>
                                            <option value="arasinda_lehe_sonuclanan_davalar">Arasında Lehe Sonuçlanan Davalar</option>
                                            <option value="arasinda_aleyhe_sonuclanan_davalar">Arasında Aleyhe Sonuçlanan Davalar</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label style="color:#f5f5f5">Ara </label>

                                        <input type="submit" value="Ara" class="btn btn-default btn-xs" style="width:100%; font-size:18px;"
                                               asp-route-ilkTarih="@Model.ilkTarih" asp-route-sonTarih="@Model.sonTarih"
                                               asp-route-davaTurleri="@Model.davaTurleri" />
                                    </div>
                                </div>
                                <br />

                            </form>
                        </tbody>
                    </table>
                </div>
                @if (Model.isListEmpty)
                {
                    <div>
                        @{
                            var ilk_tarih = Model.ilkTarih;
                            var son_tarih = Model.sonTarih;
                            var davaTurleri = Model.davaTurleri;
                        }
                        <table class="table table-hover">
                            <thead>
                                <tr>

                                    <th class="h8">
                                        Detay
                                    </th>
                                    <th class="h8">
                                        <a>
                                            Dava No
                                        </a>
                                    </th>
                                    <th class="h8">
                                        <a>
                                            Esas No
                                        </a>
                                    </th>
                                    <th class="h8">
                                        <a>
                                            Yargıtay Dosya No
                                        </a>
                                    </th>
                                    <th class="h8">
                                        <a>
                                            Dava Tarihi
                                        </a>
                                    </th>
                                    <th class="h8">
                                        <a>
                                            Oluşturulma Tarihi&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                        </a>
                                    </th>

                                    <th class="h8">
                                        <a>Karar No</a>
                                    </th>
                                    <th class="h8">
                                        <a> Temyiz</a>
                                    </th>
                                    <th class="h8">
                                        <a> Kaldırma No</a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody style="font-size:11px;">
                                @foreach (var item in Model.Dava)
                                {
                                    <tr>

                                        <td>
                                            <a asp-page="/Davalar/Detay" asp-route-davaKayitNo="@item.DavaKayitNo"
                                               class="btn btn-default btn-xs h8">Detay</a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DavaKayitNo)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EsasNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.YargitayDosyaNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DavaTarihi)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OlusturulmaTarihi)

                                        </td>
                                        <td>
                                            @{
                                                var kararNo = "";
                                                if (item.KararNo == null)
                                                {
                                                    kararNo = "Henüz Sonuçlandırılmadı";
                                                }
                                                else
                                                {
                                                    kararNo = item.KararNo;
                                                }

                                            }
                                            @Html.DisplayFor(modelItem => kararNo)

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TemyizDurumu)
                                        </td>
                                        <td>
                                            @{
                                                var temyizDurumu = "";
                                                if (item.KaldirmaNo == null)
                                                {
                                                    temyizDurumu = "Henüz Sonuçlandırılmadı";
                                                }
                                                else
                                                {
                                                    temyizDurumu = item.KaldirmaNo;
                                                }
                                            }
                                            @Html.DisplayFor(modelItem => temyizDurumu)

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>


                    </div>



                }
                else
                {
                    @*<h2>Dava Bulunamadi</h2>*@
                }

            </div>
        </div>
    </div>
}
else
{
    <h1> Yetki Yok</h1>
}

        

